@model LtcProviderData.Models.ProviderDeleteViewModel
@{
    ViewBag.Title = "Delete Provider";
}

<h2>Delete Provider @Model.FAC_NAME</h2>
<h3>Confirm Deletion Below</h3>
<div>
    @Html.LabelFor(m => m.ID)
    @Model.ID
</div>

<div>
    @Html.LabelFor(m => m.CCN)
    @Model.CCN
</div>

<div>
    @Html.LabelFor(m => m.FAC_NAME)
    @Model.FAC_NAME
</div>

<div>
    @Html.LabelFor(m => m.Comment)
    @Model.Comment
</div>


@using (Html.BeginForm()) {
<diiv>
    <p><button class="btn btn-danger" type="submit" value="Delete">Delete</button></p>
</diiv>
<div><p><a class="btn btn-success" href=@Url.Action("Detail","Provider",new { id = Model.ID})>Return to Details</a></p></div>

}