@model IEnumerable<LtcProviderData.Models.ProviderIndexViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>This is a list of all stored providers with a subset of stored provider metadata. Provider data may be deleted or edited from the detail view.</div>

<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>ID</th>
        <th>CCN</th>
        <th>BED_CNT</th>
        <th>FAC_NAME</th>
        <th>CITY_NAME</th>
        <th>STATE_CD</th>
        <th>ELGBLTY_SW</th>
        <th>CMPLNC_STUS_CD</th>
        <th>ORGNL_PRTCPTN_DT</th>
        <th>CRTFCTN_DT</th>
        <th>TRMNTN_EXPRTN_DT</th>
        
        

        
    </tr>
    </thead>
    
    <tbody>
        @foreach (var ProviderIndexViewModel in Model)
        {
            <tr>
                <td><div><p><a class="btn btn-success" href=@Url.Action("Detail","Provider",new { id = ProviderIndexViewModel.ID})>Details</a></p></div> </td>
                <td>@ProviderIndexViewModel.ID</td>
                <td>@ProviderIndexViewModel.CCN</td>
                <td>@ProviderIndexViewModel.BED_CNT</td>
                <td>@ProviderIndexViewModel.FAC_NAME</td>
                <td>@ProviderIndexViewModel.CITY_NAME</td>
                <td>@ProviderIndexViewModel.STATE_CD</td>
                <td>@ProviderIndexViewModel.ELGBLTY_SW</td>
                <td>@ProviderIndexViewModel.CMPLNC_STUS_CD</td>
                <td>@ProviderIndexViewModel.ORGNL_PRTCPTN_DT</td>
                <td>@ProviderIndexViewModel.CRTFCTN_DT</td>
                <td>@ProviderIndexViewModel.TRMNTN_EXPRTN_DT</td>
                
                
            </tr>

        }



    </tbody>
</table>